@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0035)https://chgu.org/?response_code=401 -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="origin-trial" content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">
    <title>Авторизация - UComplex</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Авторизация - Ucomplex">
    <meta name="description" content="Единая электронная образовательная система">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ucomplex.org/">
    <meta property="og:title" content="Авторизация - Ucomplex">
    <meta property="og:description" content="Единая электронная образовательная система">
    <meta property="og:image" content="https://ucomplex.org/views/modern/img/devices.svg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ucomplex.org/">
    <meta property="twitter:title" content="Авторизация - Ucomplex">
    <meta property="twitter:description" content="Единая электронная образовательная система">
    <meta property="twitter:image" content="https://ucomplex.org/views/modern/img/devices.svg">
    <meta property="og:image" content="~/devices.svg">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/clear.css">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/ss-pika.css">
    <script type="text/javascript" async="" src="./Авторизация - UComplex_files/recaptcha__ru.js.download" crossorigin="anonymous" integrity="sha384-xl4G3+43qiuYcIqsHHLSiO+8qsVpLSnAfY9L6vs9X6waCGIyqjrR4otnyJuph326"></script>
    <script src="./Авторизация - UComplex_files/api.js.download" async="" defer=""></script>
    <link id="favicon" rel="icon" type="image/png" href="https://chgu.org/views/modern/img/favicon.png">
    <link rel="apple-touch-icon" href="https://chgu.org/views/modern/img/system.jpg">
    <script>
        function onSubmit(token) {
            document.getElementById("auth-form").submit();
        }
    </script>
</head>
<body id="login-body" style="">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="display: none; width: 0; height: 0; position: absolute; top: -10000px">
        <g id="arrow-down">
            <path d="M5,4.6L0.7,1.3C0.5,1.2,0.4,0.9,0.6,0.6c0.2-0.2,0.5-0.3,0.7-0.1L5,3.3l3.7-2.8c0.2-0.2,0.5-0.1,0.7,0.1
		c0.2,0.2,0.1,0.5-0.1,0.7L5,4.6z"></path>
        </g>
        <g id="for-partners">
            <!--15-->
            <g>
                <circle fill="#F9FCFF" cx="7.5" cy="7.5" r="7"></circle>
                <path d="M7.5,14.8c-4,0-7.3-3.3-7.3-7.3s3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S11.5,14.8,7.5,14.8z M7.5,0.8
			c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7s6.7-3,6.7-6.7S11.2,0.8,7.5,0.8z"></path>
            </g>
            <g>
                <g>
                    <path d="M7.6,9.5H7c0-1.1,0.3-1.4,1.1-2l0.3-0.2c0.6-0.5,0.8-1.3,0.4-1.9C8.3,4.7,7.4,4.3,5.9,5L5.7,4.4
				c1.8-0.8,3-0.3,3.5,0.5c0.5,0.8,0.3,2-0.5,2.7L8.4,7.9C7.7,8.5,7.6,8.6,7.6,9.5z"></path>
                </g>
                <g>
                    <circle cx="7.3" cy="10.9" r="0.4"></circle>
                </g>
            </g>
        </g>

        <g id="helps">
            <style type="text/css">

            </style>
            <g id="XMLID_2_">
                <g id="XMLID_26_">
                    <circle id="XMLID_1_" fill="#F9FCFF" cx="7.5" cy="7.5" r="7"></circle>
                    <path id="XMLID_10_" class="st3" d="M7.5,14.8c-4,0-7.3-3.3-7.3-7.3s3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3S11.5,14.8,7.5,14.8z
                 M7.5,0.8c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7s6.7-3,6.7-6.7S11.2,0.8,7.5,0.8z"></path>
                </g>
                <path id="XMLID_17_" class="st3" d="M11.8,7.5c0-1.1-0.5-1.8-1.3-2C10.2,4.1,9,3,7.5,3C6,3,4.8,4.1,4.5,5.5c-0.8,0.1-1.3,0.8-1.3,2
            c0,1.2,0.6,2,1.6,2c0.2,0,0.3-0.1,0.3-0.3V6.8V6c0-1.3,1.1-2.4,2.4-2.4S9.9,4.7,9.9,6v0.7v0.8c0,3-1.1,3.6-2.5,4.1l0.2,0.6
            c1.2-0.4,2.3-0.9,2.7-2.8C11.2,9.4,11.8,8.7,11.8,7.5z M4.5,8.8C3.9,8.6,3.8,8,3.8,7.5c0-0.5,0.1-1.2,0.7-1.3v0.6V8.8z M10.5,8.8
            v-2V6.1c0.6,0.2,0.7,0.8,0.7,1.3C11.2,8,11.1,8.6,10.5,8.8z"></path>
            </g>
        </g>
        <g id="googleplay">
            <style type="text/css">
                .st0 {
                    fill: #149FE9;
                }
            </style>
            <g id="XMLID_1_">
                <g id="XMLID_4_">
                    <path id="XMLID_120_" class="st0" d="M201.5,59H5.5c-3,0-5.5-2.5-5.5-5.5v-48C0,2.5,2.5,0,5.5,0h196c3,0,5.5,2.5,5.5,5.5v48
                C207,56.5,204.5,59,201.5,59z M5.5,1C3,1,1,3,1,5.5v48C1,56,3,58,5.5,58h196c2.5,0,4.5-2,4.5-4.5v-48c0-2.5-2-4.5-4.5-4.5H5.5z"></path>
                </g>
                <g id="XMLID_8_">
                    <path id="XMLID_9_" class="st0" d="M16.9,14.5c-0.4,0.6-0.9,1.6-0.9,2.9v12v12c0,1.4,0.5,2.4,0.9,2.9l15-14.9L16.9,14.5z"></path>
                    <path id="XMLID_117_" class="st0" d="M38.4,23.2l-15.3-8c-1.7-0.9-2.8-1.1-4.1-1.1c-0.1,0-0.1,0-0.1,0l14.6,14.3L38.4,23.2z"></path>
                    <path id="XMLID_118_" class="st0" d="M43.5,25.9l-3.2-1.8l-5.3,5.4l5.3,5.3l3.2-1.8c1.2-0.7,3-1.8,3-3.6
                C46.5,27.8,44.7,26.6,43.5,25.9z"></path>
                    <path id="XMLID_119_" class="st0" d="M18.9,46c0,0,0.1,0,0.1,0c1.2,0,2.3-0.7,4.1-1.6L38.4,36l-4.9-4.7L18.9,46z"></path>
                </g>
                <g id="XMLID_21_">
                    <path id="XMLID_93_" class="st0" d="M65.8,12.2c1.2,0,2.5,0.4,3.4,1.2l-0.6,1c-0.7-0.6-1.7-1-2.7-1c-2.1,0-3.4,1.6-3.4,3.5
                c0,2,1.3,3.6,3.4,3.6c1,0,2.1-0.5,2.8-1.2l0.7,0.9c-0.8,0.8-1.9,1.5-3.5,1.5c-2.8,0-4.7-2.1-4.7-4.8
                C61.1,14.3,63.1,12.2,65.8,12.2z"></path>
                    <path id="XMLID_95_" class="st0" d="M70.7,15H72v2.7h0.9l1.8-2.7h1.4l-2.2,3.1v0l2.5,3.4h-1.5l-2-2.8H72v2.8h-1.3V15z"></path>
                    <path id="XMLID_97_" class="st0" d="M80.8,17.5h0.3v-0.1c0-1.1-0.6-1.4-1.4-1.4c-0.6,0-1.3,0.3-1.8,0.6l-0.5-0.9
                c0.5-0.4,1.5-0.8,2.5-0.8c1.7,0,2.6,0.9,2.6,2.6v4.2h-1.2v-0.7c0-0.3,0-0.5,0-0.5h0c-0.4,0.8-1.2,1.3-2.2,1.3
                c-1.1,0-2.2-0.7-2.2-2C76.9,17.7,79.5,17.5,80.8,17.5z M79.4,20.7c1.1,0,1.8-1.1,1.8-2.1v-0.2h-0.3c-0.9,0-2.7,0.1-2.7,1.3
                C78.2,20.2,78.6,20.7,79.4,20.7z"></path>
                    <path id="XMLID_100_" class="st0" d="M83.9,17.1V15h1.2v2c0,0.7,0.2,1.2,1.3,1.2c0.7,0,1.2-0.3,1.5-0.5V15h1.3v6.6h-1.3v-2.4
                c0-0.2,0-0.4,0-0.4h0c-0.4,0.3-1.1,0.5-1.8,0.5C84.7,19.3,83.9,18.5,83.9,17.1z"></path>
                    <path id="XMLID_102_" class="st0" d="M94.5,17.5h0.3v-0.1c0-1.1-0.6-1.4-1.4-1.4c-0.6,0-1.3,0.3-1.8,0.6L91,15.6
                c0.5-0.4,1.5-0.8,2.5-0.8c1.7,0,2.6,0.9,2.6,2.6v4.2h-1.2v-0.7c0-0.3,0-0.5,0-0.5h0c-0.4,0.8-1.2,1.3-2.2,1.3
                c-1.1,0-2.2-0.7-2.2-2C90.5,17.7,93.1,17.5,94.5,17.5z M93,20.7c1.1,0,1.8-1.1,1.8-2.1v-0.2h-0.3c-0.9,0-2.7,0.1-2.7,1.3
                C91.8,20.2,92.2,20.7,93,20.7z"></path>
                    <path id="XMLID_105_" class="st0" d="M99.4,16.1h-2.3V15h5.8v1.1h-2.3v5.5h-1.2V16.1z"></path>
                    <path id="XMLID_107_" class="st0" d="M104.2,15h1.3v2.4h1.3c1.4,0,2.4,0.6,2.4,2.1c0,1.2-0.8,2.1-2.4,2.1h-2.6V15z M106.6,20.7
                c0.9,0,1.3-0.5,1.3-1.2c0-0.7-0.4-1.2-1.3-1.2h-1.1v2.4H106.6z"></path>
                    <path id="XMLID_110_" class="st0" d="M113.8,15h2.7c1.3,0,2.2,0.6,2.2,1.7c0,0.6-0.3,1.2-0.9,1.4v0c0.8,0.2,1.2,0.8,1.2,1.6
                c0,1.2-1,1.9-2.4,1.9h-2.8V15z M116.3,17.8c0.8,0,1.1-0.4,1.1-1c0-0.6-0.4-0.9-1.2-0.9H115v1.9H116.3z M116.4,20.7
                c0.9,0,1.3-0.4,1.3-1c0-0.7-0.5-1-1.4-1H115v2.1H116.4z"></path>
                </g>
                <g id="XMLID_15_">
                    <path id="XMLID_3_" class="st0" d="M69.5,26.8c2,0,4.1,0.6,5.7,1.9l-1.1,1.6c-1-0.9-2.8-1.5-4.4-1.5c-3.6,0-5.8,2.7-5.8,6
                c0,3.6,2.5,6.1,5.7,6.1c1.7,0,3.3-0.8,4.4-1.9v-2.2h-2.5v-1.9h4.5v7.8H74v-1c0-0.3,0-0.7,0-0.7h0c-1.1,1.1-2.9,1.9-4.8,1.9
                c-4.2,0-7.6-3.3-7.6-8.1C61.6,30.3,65,26.8,69.5,26.8z"></path>
                    <path id="XMLID_66_" class="st0" d="M84.2,31.2c3.3,0,6,2.4,6,5.8c0,3.4-2.7,5.9-6,5.9c-3.3,0-6-2.5-6-5.9
                C78.2,33.6,80.9,31.2,84.2,31.2z M84.2,41c2.1,0,3.8-1.7,3.8-4c0-2.3-1.7-4-3.8-4c-2.1,0-3.8,1.7-3.8,4C80.4,39.3,82.1,41,84.2,41
                z"></path>
                    <path id="XMLID_72_" class="st0" d="M98,31.2c3.3,0,6,2.4,6,5.8c0,3.4-2.7,5.9-6,5.9c-3.3,0-6-2.5-6-5.9
                C92,33.6,94.7,31.2,98,31.2z M98,41c2.1,0,3.8-1.7,3.8-4c0-2.3-1.7-4-3.8-4c-2.1,0-3.8,1.7-3.8,4C94.2,39.3,95.9,41,98,41z"></path>
                    <path id="XMLID_75_" class="st0" d="M110.7,45.3c1.9,0,3.5-0.9,3.5-3.1v-0.9c0-0.4,0.1-0.7,0.1-0.7h0c-0.7,1.1-1.7,1.8-3.3,1.8
                c-3.1,0-5-2.5-5-5.7c0-3.2,1.8-5.6,4.9-5.6c1.4,0,2.8,0.5,3.5,1.7h0.1c0,0-0.1-0.1-0.1-0.3v-1.1h2v10.7c0,3.7-2.8,5.1-5.6,5.1
                c-1.3,0-2.7-0.4-3.8-0.9l0.7-1.7C108.5,45,109.6,45.3,110.7,45.3z M111.3,40.6c1.5,0,2.9-0.9,2.9-3.8s-1.4-3.7-3.1-3.7
                c-1.9,0-3,1.4-3,3.7C108.1,39,109.3,40.6,111.3,40.6z"></path>
                    <path id="XMLID_78_" class="st0" d="M119.7,27h2.1v12.1c0,1.3,0.5,1.6,1.2,1.6c0.1,0,0.2,0,0.4,0v1.9c-0.2,0-0.4,0.1-0.7,0.1
                c-1.2,0-3-0.4-3-3.2V27z"></path>
                    <path id="XMLID_80_" class="st0" d="M130.4,31.2c3.1,0,4.8,2.4,4.8,5.2c0,0.3,0,0.6-0.1,0.9H127c0.1,2.4,1.8,3.7,3.8,3.7
                c1.2,0,2.4-0.5,3.3-1.3l0.9,1.6c-1.1,1-2.8,1.6-4.3,1.6c-3.5,0-5.9-2.5-5.9-5.8C124.8,33.5,127.2,31.2,130.4,31.2z M133.1,35.8
                c-0.1-1.9-1.3-2.9-2.7-2.9c-1.7,0-2.9,1.1-3.3,2.9H133.1z"></path>
                    <path id="XMLID_83_" class="st0" d="M143.3,31.4h2v1c0,0.5-0.1,0.8-0.1,0.8h0c0.7-1.3,2.1-2.1,3.7-2.1c3,0,4.9,2.4,4.9,5.8
                c0,3.5-2.1,5.8-5,5.8c-1.4,0-2.7-0.7-3.5-1.9h0c0,0,0.1,0.4,0.1,1V47h-2.1V31.4z M148.5,41c1.8,0,3.2-1.4,3.2-4c0-2.4-1.3-4-3.1-4
                c-1.7,0-3.2,1.2-3.2,4C145.4,39,146.5,41,148.5,41z"></path>
                    <path id="XMLID_86_" class="st0" d="M156.5,27h2.1v12.1c0,1.3,0.5,1.6,1.2,1.6c0.1,0,0.2,0,0.4,0v1.9c-0.2,0-0.4,0.1-0.7,0.1
                c-1.2,0-3-0.4-3-3.2V27z"></path>
                    <path id="XMLID_88_" class="st0" d="M168.1,35.6h0.6v-0.2c0-1.8-1.1-2.4-2.4-2.4c-1.1,0-2.2,0.4-3.1,1.1l-0.9-1.6
                c0.9-0.7,2.6-1.3,4.2-1.3c2.8,0,4.4,1.5,4.4,4.4v7h-2v-1.1c0-0.5,0.1-0.9,0.1-0.9h0c-0.6,1.3-2,2.3-3.7,2.3
                c-1.9,0-3.7-1.2-3.7-3.3C161.5,36,165.8,35.6,168.1,35.6z M165.7,41.1c1.9,0,3-1.9,3-3.5v-0.4h-0.6c-1.6,0-4.5,0.1-4.5,2.2
                C163.6,40.2,164.3,41.1,165.7,41.1z"></path>
                    <path id="XMLID_91_" class="st0" d="M174.5,45.4c0.9,0,1.6-0.6,2-1.6l0.5-1.3l-4.7-11h2.4l2.8,7.3c0.2,0.5,0.4,1.3,0.4,1.3h0
                c0,0,0.2-0.7,0.4-1.3l2.7-7.3h2.3l-5.2,13.1c-0.7,1.7-2,2.6-3.6,2.6c-1.2,0-2.1-0.7-2.1-0.7l0.7-1.6
                C173.2,44.9,173.8,45.4,174.5,45.4z"></path>
                </g>
            </g>
        </g>
        <g id="appstore">
            <style type="text/css">
                .st0 {
                    fill: #149FE9;
                }
            </style>
            <g id="XMLID_2_">
                <g id="XMLID_1_">
                    <path id="XMLID_68_" class="st0" d="M201.5,59H5.5c-3,0-5.5-2.5-5.5-5.5v-48C0,2.5,2.5,0,5.5,0h196c3,0,5.5,2.5,5.5,5.5v48
                C207,56.5,204.5,59,201.5,59z M5.5,1C3,1,1,3,1,5.5v48C1,56,3,58,5.5,58h196c2.5,0,4.5-2,4.5-4.5v-48c0-2.5-2-4.5-4.5-4.5H5.5z"></path>
                </g>
                <g id="XMLID_11_">
                    <path id="XMLID_22_" class="st0" d="M36.9,19.6c3.7,0,6.1,3.6,6.1,3.6s-3.6,2-3.6,6.2c0,5.1,4.6,6.5,4.6,6.5s-3.6,8.5-7.7,8.5
                c-2.3,0-2.4-1.3-5.5-1.3c-2.6,0-3.5,1.3-5.5,1.3c-3.8,0-8.8-8.3-8.8-15c0-7,5-9.8,8.2-9.8c2.8,0,3.9,1.6,6.1,1.6
                C32.7,21.3,34.1,19.6,36.9,19.6z M36.3,12.5c0.6,3.4-2.6,7.7-6.3,7.5C29.4,15.7,33.4,12.7,36.3,12.5z"></path>
                </g>
                <g id="XMLID_10_">
                    <path id="XMLID_44_" class="st0" d="M63.3,12.2c1.2,0,2.5,0.4,3.4,1.2l-0.6,1c-0.7-0.6-1.7-1-2.7-1c-2.1,0-3.4,1.6-3.4,3.5
                c0,2,1.3,3.6,3.4,3.6c1,0,2.1-0.5,2.8-1.2l0.7,0.9c-0.8,0.8-1.9,1.5-3.5,1.5c-2.8,0-4.7-2.1-4.7-4.8
                C58.6,14.3,60.6,12.2,63.3,12.2z"></path>
                    <path id="XMLID_46_" class="st0" d="M68.2,15h1.3v2.7h0.9l1.8-2.7h1.4l-2.2,3.1v0l2.5,3.4h-1.5l-2-2.8h-0.9v2.8h-1.3V15z"></path>
                    <path id="XMLID_48_" class="st0" d="M78.3,17.5h0.3v-0.1c0-1.1-0.6-1.4-1.4-1.4c-0.6,0-1.3,0.3-1.8,0.6l-0.5-0.9
                c0.5-0.4,1.5-0.8,2.5-0.8c1.7,0,2.6,0.9,2.6,2.6v4.2h-1.2v-0.7c0-0.3,0-0.5,0-0.5h0c-0.4,0.8-1.2,1.3-2.2,1.3
                c-1.1,0-2.2-0.7-2.2-2C74.4,17.7,76.9,17.5,78.3,17.5z M76.9,20.7c1.1,0,1.8-1.1,1.8-2.1v-0.2h-0.3c-0.9,0-2.7,0.1-2.7,1.3
                C75.6,20.2,76.1,20.7,76.9,20.7z"></path>
                    <path id="XMLID_51_" class="st0" d="M81.4,17.1V15h1.2v2c0,0.7,0.2,1.2,1.3,1.2c0.7,0,1.2-0.3,1.5-0.5V15h1.3v6.6h-1.3v-2.4
                c0-0.2,0-0.4,0-0.4h0c-0.4,0.3-1.1,0.5-1.8,0.5C82.2,19.3,81.4,18.5,81.4,17.1z"></path>
                    <path id="XMLID_53_" class="st0" d="M91.9,17.5h0.3v-0.1c0-1.1-0.6-1.4-1.4-1.4c-0.6,0-1.3,0.3-1.8,0.6l-0.5-0.9
                c0.5-0.4,1.5-0.8,2.5-0.8c1.7,0,2.6,0.9,2.6,2.6v4.2h-1.2v-0.7c0-0.3,0-0.5,0-0.5h0c-0.4,0.8-1.2,1.3-2.2,1.3
                c-1.1,0-2.2-0.7-2.2-2C88,17.7,90.6,17.5,91.9,17.5z M90.5,20.7c1.1,0,1.8-1.1,1.8-2.1v-0.2H92c-0.9,0-2.7,0.1-2.7,1.3
                C89.3,20.2,89.7,20.7,90.5,20.7z"></path>
                    <path id="XMLID_56_" class="st0" d="M96.9,16.1h-2.3V15h5.8v1.1h-2.3v5.5h-1.2V16.1z"></path>
                    <path id="XMLID_58_" class="st0" d="M101.7,15h1.3v2.4h1.3c1.4,0,2.4,0.6,2.4,2.1c0,1.2-0.8,2.1-2.4,2.1h-2.6V15z M104.1,20.7
                c0.9,0,1.3-0.5,1.3-1.2c0-0.7-0.4-1.2-1.3-1.2h-1.1v2.4H104.1z"></path>
                    <path id="XMLID_61_" class="st0" d="M111.3,15h2.7c1.3,0,2.2,0.6,2.2,1.7c0,0.6-0.3,1.2-0.9,1.4v0c0.8,0.2,1.2,0.8,1.2,1.6
                c0,1.2-1,1.9-2.4,1.9h-2.8V15z M113.8,17.8c0.8,0,1.1-0.4,1.1-1c0-0.6-0.4-0.9-1.2-0.9h-1.2v1.9H113.8z M113.9,20.7
                c0.9,0,1.3-0.4,1.3-1c0-0.7-0.5-1-1.4-1h-1.3v2.1H113.9z"></path>
                </g>
                <g id="XMLID_14_">
                    <path id="XMLID_23_" class="st0" d="M63.9,27h2.3l5.6,15.5h-2.2l-1.6-4.5h-5.9l-1.6,4.5h-2.2L63.9,27z M67.4,36.3l-1.7-4.9
                c-0.3-0.8-0.6-2.2-0.6-2.2h0c0,0-0.3,1.4-0.6,2.2l-1.7,4.9H67.4z"></path>
                    <path id="XMLID_26_" class="st0" d="M73.7,31.4h2v1c0,0.5-0.1,0.8-0.1,0.8h0c0.7-1.3,2.1-2.1,3.7-2.1c3,0,4.9,2.4,4.9,5.8
                c0,3.5-2.1,5.8-5,5.8c-1.4,0-2.7-0.7-3.5-1.9h0c0,0,0.1,0.4,0.1,1V47h-2.1V31.4z M78.9,41c1.8,0,3.2-1.4,3.2-4c0-2.4-1.3-4-3.1-4
                c-1.7,0-3.2,1.2-3.2,4C75.8,39,76.9,41,78.9,41z"></path>
                    <path id="XMLID_29_" class="st0" d="M87,31.4h2v1c0,0.5-0.1,0.8-0.1,0.8h0c0.7-1.3,2.1-2.1,3.7-2.1c3,0,4.9,2.4,4.9,5.8
                c0,3.5-2.1,5.8-5,5.8c-1.4,0-2.7-0.7-3.5-1.9h0c0,0,0.1,0.4,0.1,1V47H87V31.4z M92.2,41c1.8,0,3.2-1.4,3.2-4c0-2.4-1.3-4-3.1-4
                c-1.7,0-3.2,1.2-3.2,4C89,39,90.1,41,92.2,41z"></path>
                    <path id="XMLID_32_" class="st0" d="M100.4,39.1c0.9,0.9,2.4,1.7,3.9,1.7c1.6,0,2.7-0.9,2.7-2.2c0-3.4-7.5-2.7-7.5-7.5
                c0-2.6,2.2-4.3,5.1-4.3c1.5,0,3.2,0.5,4.3,1.6l-1,1.8c-0.9-0.8-2.2-1.4-3.4-1.4c-1.6,0-2.8,0.9-2.8,2.2c0,3.3,7.5,2.4,7.5,7.4
                c0,2.4-1.8,4.4-5,4.4c-1.9,0-3.8-0.7-5.1-2L100.4,39.1z"></path>
                    <path id="XMLID_34_" class="st0" d="M112.1,33.3h-1.5v-1.7h1.5v-3.2h2.1v3.2h2.7v1.7h-2.7v5c0,2.2,1.6,2.5,2.4,2.5
                c0.2,0,0.3,0,0.5,0v1.9c-0.2,0-0.4,0.1-0.7,0.1c-1.4,0-4.3-0.5-4.3-4.2V33.3z"></path>
                    <path id="XMLID_36_" class="st0" d="M124.5,31.2c3.3,0,6,2.4,6,5.8c0,3.4-2.7,5.9-6,5.9c-3.3,0-6-2.5-6-5.9
                C118.5,33.6,121.2,31.2,124.5,31.2z M124.5,41c2.1,0,3.8-1.7,3.8-4c0-2.3-1.7-4-3.8-4c-2.1,0-3.8,1.7-3.8,4
                C120.7,39.3,122.4,41,124.5,41z"></path>
                    <path id="XMLID_39_" class="st0" d="M133.1,31.4h2.1v2c0,0.5-0.1,0.8-0.1,0.8h0c0.5-1.6,1.8-2.9,3.5-2.9c0.2,0,0.4,0,0.6,0v2.1
                c-0.1,0-0.4,0-0.6,0c-2.4,0-3.4,2.4-3.4,4.5v4.6h-2.1V31.4z"></path>
                    <path id="XMLID_41_" class="st0" d="M145.9,31.2c3.1,0,4.8,2.4,4.8,5.2c0,0.3,0,0.6-0.1,0.9h-8.1c0.1,2.4,1.8,3.7,3.8,3.7
                c1.2,0,2.4-0.5,3.3-1.3l0.9,1.6c-1.1,1-2.8,1.6-4.3,1.6c-3.5,0-5.9-2.5-5.9-5.8C140.3,33.5,142.7,31.2,145.9,31.2z M148.6,35.8
                c-0.1-1.9-1.3-2.9-2.7-2.9c-1.6,0-2.9,1.1-3.3,2.9H148.6z"></path>
                </g>
            </g>
        </g>
        <g id="twitter">
            <style type="text/css">
                .st5 {
                    fill: #69ACE0;
                }
            </style>
            <path id="XMLID_1_" class="st5" d="M22,2.2c-0.8,0.4-1.7,0.6-2.6,0.7c0.9-0.6,1.6-1.4,2-2.5c-0.9,0.5-1.8,0.9-2.9,1.1
        c-0.8-0.9-2-1.4-3.3-1.4c-2.5,0-4.5,2-4.5,4.5c0,0.4,0,0.7,0.1,1c-3.8-0.2-7.1-2-9.3-4.7C1.1,1.6,0.9,2.3,0.9,3.2
        c0,1.6,0.8,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6c0,0,0,0,0,0.1c0,2.2,1.6,4,3.6,4.4C4.1,10.9,3.7,11,3.3,11c-0.3,0-0.6,0-0.8-0.1
        C3,12.7,4.7,14,6.7,14C5.1,15.3,3.2,16,1.1,16c-0.4,0-0.7,0-1.1-0.1c2,1.3,4.4,2,6.9,2c8.3,0,12.8-6.9,12.8-12.8c0-0.2,0-0.4,0-0.6
        C20.6,3.9,21.4,3.1,22,2.2z"></path>
        </g>
    </svg>


    <div id="login-page">
        <div id="login-wrap">
            <div style="display: table-row">
                <div style="display: table-cell; height: 1px">
                    <div class="partners">
                        <a class="link" tabindex="-1" href="https://chgu.org/index/partners"><svg viewBox="0 0 15 15"><use xlink:href="#for-partners"></use></svg><div>Узнать больше о партнерской программе</div></a>
                        <!--
                        -->
                        <a class="link" tabindex="0" href="https://chgu.org/help"><svg viewBox="0 0 15 15"><use xlink:href="#helps"></use></svg><div>Справочный центр</div></a>
                        <!-- <div class="right">
                            <svg style="width: 25px;" viewbox="0 0 22 18"><use xlink:href="#twitter"></svg>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="login">
                <div class="content">
                    <div class="in-block image">
                        <img alt="UComplex" src="~/devices.svg">
                    </div>
                    <!--
                    -->
                    <div class="form-wrap in-block">
                        <div class="rblock">
                            <div id="logo">UComplex</div>
                            <div class="header-text">Единая электронная<br>образовательная система</div>
                            <form id="auth-form" method="POST" asp-controller="Home" asp-action="GetData">
                                <div class="login-error">
                                    <span>&nbsp;&nbsp;</span>
                                </div>
                                <input class="text" type="text" name="login" placeholder="Логин" value=""><br>
                                <input class="text" type="password" name="pass" placeholder="Пароль"><br>
                                <button type="submit">Войти</button><a onclick="restorePassword()" class="forgot-pass link">Забыли пароль?</a><br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="content restore" style="display: none">
                    <div class="l-text">Забыли пароль?</div>
                    <div class="header-text-s">Введите адрес электронной почты, чтобы сбросить пароль. В случае, если Вы не указывали адрес электронной почты в настройках своего аккаунта, обратитесь к администратору системы в Вашей образовательной организации.</div>
                    <input class="email" placeholder="Адрес электронной почты" type="text">
                    <div class="buttons"><button onclick="send()">Отправить</button><button onclick="goBack()" style="margin-left: 20px">Назад</button></div>
                </div>
                <div class="content result" style="display: none">
                    <div class="header-text-s" style="margin-bottom: 10px">На указанный адрес электронной почты было отправлено письмо со ссылкой для сброса пароля.</div>
                    <button onclick="goBack()">На главную</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left">
                <a class="link" href="https://chgu.org/">UComplex</a><!--<a class="link" href="#">О нас</a>--><a class="link" href="https://chgu.org/_start">С чего начать</a><a class="link" href="https://chgu.org/index/partners?section=univ">Вузам</a><a class="link" href="https://chgu.org/index/partners?section=lib">Издательствам</a>
            </div>
            <div class="right">
                <a class="link" href="https://chgu.org/index/partners?section=partners">Технические партнеры</a><a href="https://chgu.org/index/partners?section=clients" class="link">Клиенты</a><a class="link" href="https://chgu.org/_privacy">Конфиденциальность и условия</a><a class="link" href="https://chgu.org/_agreement">Пользовательское соглашение</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>